
/* <================================= MOBILE VIEW =========================> */
@media only screen and (max-width:768px){
    .navbar-mobile{
        display: flex;
        flex-direction: column;
        position: relative;
        z-index: 999;
        justify-content: center;
        align-items: center;
        width: 100%;
      }
      .navbar-top {
        display: flex;
        flex-direction: row;
        position: fixed;
        z-index: 999;
        height: 50px;
        justify-content: flex-start;
        align-items: center;
        width: 100%;
        background: linear-gradient(0deg, #00272f00, #00262e);
        padding-inline-start: 10px;
        top: 0;
      }
      .navbar-laptop{
        display: none;
      }
      .nav-icn{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        border: 1px solid #ffffff82;
        border-radius: 15px;
        width: 40px;
        height: 40px;
        cursor: pointer;
        background: #002f39;
        margin-right: 5px;
      }
      .nav-icn:hover{
      }
      .nav-icn span{
        width:70%;
        height: 3px;
        background: #fff;
        border-radius: 10px;
      }

      .navlinks-deactive{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        position: absolute;
        z-index: 999;        
        background: linear-gradient(270deg, #00272f00, #00262e);
        min-height: 100vh;
        align-items: flex-start;
        width: 80vw;
        border-radius: 0px 15px 15px 0px;
        top: 0px;
        transform: translateX(-275px);
        animation: 700ms scrollright ease-in;

      }
      @keyframes scrollright{
        0%{
          transform: translateX(-90px);
          opacity: 1;
          }
        100%{
          opacity: 0;
          transform: translateX(-275px);
        }
        
      }

      .navlinks-active{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        position: absolute;
        z-index: 999;
        background: linear-gradient(270deg, #00272f, #00262e);
        min-height: 100vh;
        align-items: flex-start;
        width: 80vw;
        border-radius: 0px 15px 15px 0px;
        top: 0px;
        transform: translateX(-42px);
        animation: 700ms scrollleft ease-in;
      }
      .navbtn{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: end;
        height: 10vh;
      }
      .nlinks{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        height: 40vh;
        padding-inline: 10px;
      }

      @keyframes scrollleft{
        0%{
          opacity: 0;
          transform: translateX(-275px);
        }
        100%{
        transform: translateX(-42px);
        opacity: 1;
        }
      }
      .navlinks-deactive a , .navlinks-active a{
        align-items: center;
        display: flex;
        flex-direction: row;
        font-family: Poppins, sans-serif;
        margin-inline: 0.6rem;
        position: relative;
    }
    
    .navlinks-deactive a.active ,.navlinks-active a.active{
        color: cyan;
        text-transform: uppercase;
        font-weight: 800;
      }
      .navlinks-deactive a.inactive , .navlinks-active a.inactive{
        color: #717171;
      }
     
    .icon-link{
        display:none;
    }

  
    .spannav1 {
      transform: rotateY(180deg);
      animation: 400ms navicnrotate1 ease-in;

    }
    
    @keyframes navicnrotate1{
      0%{
        transform: rotateY(90deg);
      }
      100%{
        transform: rotateY(180deg);

      }
    }
    .spannav2 {
      animation: 400ms navicnrotate2rev ease-in;
      
    }
    .spannav3{
      animation: 400ms navicnrotate3rev ease-in;
      position: relative;
      top: 0px;

    }
    @keyframes navicnrotate2rev{
      0%{
        transform: rotate(45deg);
        top: 4px;
      }
      100%{
        transform: rotate(0deg);
        top: 0px;
      }
    }
    @keyframes navicnrotate3rev{
      0%{
        transform: rotate(-45deg);
        top: -10px;
      }
      100%{
        transform: rotate(0deg);
        top: 0px;
      }
    }

    
    .spannav1-active{
      display: none;
    }
    .spannav2-active{
      transform: rotate(45deg);
      animation: 400ms navicnrotate2 ease-in;
      position: relative;
      top: 4px;

    }

    @keyframes navicnrotate2{
      0%{
        transform: rotate(0deg);
      }
      100%{
        transform: rotate(45deg);
      }
    }
    .spannav3-active{
      transform: rotate(-45deg);
      position: relative;
      top: -10px;
      animation: 400ms navicnrotate3 ease-in;

    }
    @keyframes navicnrotate3{
      0%{
        transform: rotate(0deg);
      }
      100%{
        transform: rotate(-45deg);
      }
    }
    


}

/* <================================= LAPTOP_ DESKTOP VIEW =====================> */
@media only screen and (min-width:768px){
    .navbar-laptop{
        display: flex;
        flex-direction: column;
        position: absolute;
        width: 100vw;
        z-index: 9999;
      }
      .navbar-mobile{
        display: none;
      }
      .navlinks{
        display: flex;
        flex-direction: column;
        justify-content: center;
        position: fixed;
        right: 0px;
        width: 150px;
        height: 100vh;
        align-items: flex-end;
        margin-right: 20px;
        z-index: 9999;

      }

      .navlinks a{
          align-items: center;
          color: #98b22e;
          display: flex;
          font-family: Poppins, sans-serif;
          margin-block: 1rem;
          position: relative;
          transition: 1s;
          
      }
      
      .button-link{
        display: block;
        height: 50px;
        width: 50px;
        float: right;
        margin: 0 5px;
        overflow: hidden;
        background: #373737;
        border-radius: 50px;
        cursor: pointer;
        box-shadow: 0px 10px 10px rgba(0,0,0,0.1);
        transition: all 0.3s ease-out;
        position: relative;
      }
      .button-link span{
        position: absolute;
        top: 50%;
        text-transform: uppercase;
        font-size: 10px;
        letter-spacing: 1.4px;
      }
      .button-link:hover{    
        background: -webkit-linear-gradient(45deg,#b9e313,rgb(12, 146, 0));
        color: #fff;
        width: 120px;
      }
      .button-link .icon-link{
        display: inline-block;
        height: 50px;
        width: 50px;
        text-align: center;
        border-radius: 50px;
        box-sizing: border-box;
        line-height: 60px;
        transition: all 0.3s ease-out;
      }

      
    
}